body {
  background-color: rgb(184, 243, 253);
}

.name {
  grid-area: name;
}

.about {
  grid-area: about;
}

.header {
  grid-area: header;
}

.about_doli_container {
  grid-area: about_doli_container;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "name"
    "about";
}

.about_filip_container {
  grid-area: about_filip_container;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "name"
    "about";
}

@supports (display: grid) {
  /*@media screen and (min-width: 500px) {
    .wrapper {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: auto;
      grid-template-rows: 1fr 5fr 5fr;
      grid-template-areas:
        "header"
        "about_doli_container"
        "about_filip_container";
      background-color: #fff;
      color: #444;
    }
  }
  @media screen and (min-width: 1000px) {
    .wrapper {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
        "header header header header"
        "about_doli_container about_doli_container about_filip_container about_filip_container";
      background-color: #fff;
      color: #444;
    }
  } */

  @media screen and (min-width: 500px) {
    .biography {
      grid-area: biography;
      display: grid;
      padding: 70px;
      grid-gap: 50px;
      grid-template-columns: auto;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "about_doli_container"
        "about_filip_container";
      background-color: rgb(184, 243, 253);
      color: #444;
    }
  }
  @media screen and (min-width: 1000px) {
    .biography {
      grid-area: biography;
      display: grid;
      padding: 70px;
      grid-gap: 50px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "about_doli_container about_filip_container";
      background-color: rgb(184, 243, 253);
      color: #444;
    }
  }
}

.countdown_title {
  grid-area: countdown_title;
}

.countdown_value {
  grid-area: countdown_value;
  position: relative;
  top: 25%;
}

.days {
  grid-area: days;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "countdown_value"
    "countdown_title";
}

.hours {
  grid-area: hours;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "countdown_value"
    "countdown_title";
}

.minutes {
  grid-area: minutes;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "countdown_value"
    "countdown_title";
}

.countdown {
  grid-area: countdown;
  display: grid;
  grid-template-columns: 5fr 5fr 3fr 5fr 3fr 5fr 5fr;
  grid-template-rows: 3fr 5fr 3fr;
  background-color: rgb(184, 243, 253);
  grid-template-areas:
    ". . . . . . ."
    ". days . hours . minutes ."
    ". . . . . . .";
}

.site {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header"
    "biography"
    "countdown";
  background-color: rgb(184, 243, 253);
  color: #444;
}

.center {
  display: flex;
  justify-content: center;
}

.text {
  padding: 20px;
  font-size: large;
  color: #000;
}

.box {
  border-radius: 10px;
}

.box .box {
  background-color: #ccc;
  color: #444;
}

.box .description {
  background-color: #444;
  color: #fff;
  border-radius: 10px;
}

.header {
  background-image: url(https://mojbalkon.com/wp-content/uploads/2019/03/wedding_bouquets_02.jpg);
  background-size: cover;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.doli_about_photo {
  background-image: url(https://ljekarnik.hr/wp-content/uploads/2016/01/Fotolia_98313830_Subscription_Monthly_M.jpg);
  background-size: cover;
  background-position: center;
}

.filip_about_photo {
  background-image: url(https://cdn.shopify.com/s/files/1/3010/1788/products/il_fullxfull.1266325786_1j2k_2bdbd4a8-65f8-4b55-841e-e99e7e83f440.jpg?v=1535359223);
  background-size: cover;
  background-position: center;
}

.countdown_color {
  background-color: rgb(211, 149, 241);
}
